<article class="wechat">
    <header class="header">
        <div class="header_wrap">
            <span class="logo"></span>
            <ul class="nav_list">
                <li>首页</li>
                <li>我的知识库</li>
                <li>知识库列表</li>
                <li>加入我们</li>
            </ul>
            <input class="nav_search" placeholder="找找看呗" />
            <span class="search_icon"></span>
        </div>
    </header>
    <div class="banner">
        <div class="banner_box"> 
            <div class="banner_img"></div>
            <div class="banner_middle">
                <div class="banner_logo">
                    <span>
                        <img ng-src="./css/images/code/wechat_logo.jpg"/>
                    </span>
                    <em>微信开发</em>
                </div>
            </div>
        </div>

    </div>
    <nav class="nav">
        <div class="nav_box">
            <ul>
                <li>主页</li>
                <li>动态图谱</li>
                <li>知识点</li>
                <li>学习资源</li>
            </ul>
        </div>
    </nav>
    <aside class="wrap">

    </aside>
</article>

<article class="grail_demo">
    <header>圣杯布局</header>
    <div class="wrap clearfix">
        <div class="left">i am left</div>
        <div class="right">i am right</div>
        <div class="content">i am content</div>
    </div>
    <footer>i am footer</footer>
</article>
<article class="dflywing_demo">
    <header>双飞翼布局</header>
    <div class="wrap">
        <div class="content">i am content</div>
        <div class="left">i am left</div>
        <div class="right">i am right</div>
    </div>
    <footer>i am footer</footer>
</article>