<div id="demo2" class="demo2">
  <div class="banner_wrap" ng-mouseover="stopInterval()" ng-mouseleave="startInterval()">
    <!-- 图片 -->
    <div class="photo">
      <ul class="photo_wrap">
        <div id="img_div" class="img_div" ng-class="{'img_div_pause': isPause}" style="left: -1280px;">
          <img src="css/images/demo/banner/banner5.png">
          <img src="css/images/demo/banner/banner1.png">
          <img src="css/images/demo/banner/banner2.png">
          <img src="css/images/demo/banner/banner3.png">
          <img src="css/images/demo/banner/banner4.png">
          <img src="css/images/demo/banner/banner5.png">
          <img src="css/images/demo/banner/banner1.png">
        </div>
      </ul>
    </div>
    <!-- 切换箭头 -->
    <div class="arrow">
      <!-- ie 9 -->
      <span class="left_arrow" ng-click="arrowClick(0)">&#60;</span>
      <span class="right_arrow" ng-click="arrowClick(1)">&#62;</span>
      <!-- <i class="arrow_left" ng-click="arrowClick(0)"></i> -->
      <!-- <i class="arrow_right" ng-click="arrowClick(1)"></i> -->
    </div>
  
    <!-- 分页图标 -->
    <div class="pagination">
      <li ng-click="pagiClick(0)">
          <span ng-class="{'page_active': isPageActiveFir}"></span>
      </li>
      <li ng-click="pagiClick(1)">
          <span ng-class="{'page_active': isPageActiveSec}"></span>
      </li>
      <li ng-click="pagiClick(2)">
          <span ng-class="{'page_active': isPageActiveTir}"></span>
      </li>
      <li ng-click="pagiClick(3)">
          <span ng-class="{'page_active': isPageActiveFou}"></span>
      </li>
      <li ng-click="pagiClick(4)">
          <span ng-class="{'page_active': isPageActiveFiv}"></span>
      </li>
    </div>
  </div>
</div>