<article class="home_wrap" ng-class="{'home_move': isHomeMove}">
    <header class="home_banner">
        <video class="banner_video" autoplay="autoplay" loop="true" preload="auto" width="2300">
            <source src="../css/images/home/banner_video.mp4" type="video/mp4"></source>
        </video>
    </header>
    <section class="festival" ng-if="false">
        <img class="bg" src="../css/images/home/festival_vt.png"/>
        <div class="action" ng-style="festivalAction"></div>
    </section>
    <section class="home_main">
        <div class="home_main_wrap">
            <div class="home_nav">
                <span class="reg"></span>
                <span class="enter"></span>
                <span class="download"></span>
                <span class="shoot_hole"></span>
                <span class="center"> </span>
            </div>
        </div>
        <ul class="home_list">
            <li>
                <div class="pic">
                    <a href="#!code" target="_blank">
                        <img src="../css/images/home/code_lang2.jpg">
                    </a>
                </div>
                <p class="title">
                    <a>技术栈</a>
                </p>
            </li>
            <li>
                <div class="pic">
                    <a href="http://www.baidu.com" target="_blank">
                        <img src="../css/images/home/game_bg.jpg">
                    </a>
                </div>
                <p class="title">
                    <a>游戏栈</a>
                </p>
            </li>
            <li>
                <div class="pic">
                    <a href="http://www.baidu.com" target="_blank">
                        <img src="../css/images/home/game_lb2.jpg">
                    </a>
                </div>
                <p class="title">
                    <a>其它栈</a>
                </p>
            </li>
        </ul>   
    </section>
    <section class="home_pointer">
        <span></span>
    </section>
    <footer class="home_footer">
        <div class="f_bussiness">
            <p>
                <a class="fb_a">
                    <span class="cs_icon"></span>
                    <span>在线客服</span>
                </a>
                <a class="fb_a">
                    <span class="feedback_icon"></span>
                    <span class="">反馈</span>
                </a>
                <a class="fb_a">
                    <span class="joinus_icon"></span>
                    <span class="">加入我们</span>
                </a>
                <a class="fb_a">
                    <span class=""></span>
                    <span class="">合作伙伴</span>
                </a>
            </p>
        </div>
    </footer>
</article>