
/*======================================================================================
Name: base.css
Description: 基础模块样式
Author: Bob Gao
Date: 2017/01/04
=======================================================================================*/

html{font-size: 16px;}
body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, dl, dt, dd, ul, ol, li, pre, form, fieldset, legend, button, input, textarea, th, td {
    margin:0; padding:0;
    font: normal 100% 'Microsoft YaHei', '微软雅黑',Helvetica, Arial, sans-serif, SimSun;
    }
body, button, input, select, textarea {  }
h1, h2, h3, h4, h5, h6{  }
address, cite, dfn, em, var {}
code, kbd, pre, samp {  }
small{ }
ul, ol, li { list-style:none; }
a { text-decoration:none;}
a:hover { text-decoration:none;cursor: pointer }
sup { vertical-align:text-top; }
sub{ vertical-align:text-bottom; }
legend { color:#000; }
fieldset, img { border:0; }
button, input, select, textarea { }
table { border-collapse:collapse; border-spacing:0; }
button:hover{cursor: pointer}
html,body{height:100%;width:100%;}
.view_wrap{height:100%;width:100%;}
.clearfix::after{
    clear: both;
    display: block;
    content: "";
    height: 0;
    visibility: hidden;
    overflow: hidden;
}