.demo_wrap{
    font-size: 16px;
    height: 100%;
    max-width: 500px;
    margin: 0 auto;
}
.demo_wrap .banner{
    height: 100%;
    position: relative;
    background: url('./images/demo/banner.png') center no-repeat;
    /* background-size: cover; */
    background-size: 100% 100%;
}
.demo_wrap .banner .banner_next_wrap{
    position: absolute;
    bottom: 38px;
    width: 100%;
    text-align: center;
    animation-name: dump;
    animation-duration: .8s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    -webkit-animation-name: dump;
    -webkit-animation-duration: .8s;
    -webkit-animation-timing-function: ease-in-out;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-direction: alternate;
} 
.demo_wrap .banner .banner_next_wrap .banner_next{
    width: 24px;
    height: 19px;
    margin: 0 auto;
    display: block;
    background: url('./images/demo/arrow.png') center no-repeat;
    background-size: cover;
}
.demo_wrap .content_wrap{
    padding: 20px;
    min-height: 100%;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    background-color: rgb(243, 244, 246);
}
.demo_wrap .content{
    background-color: #fff;
}
.demo_wrap .content_wrap .content .photo{
    background: url('./images/demo/content.png') center no-repeat;
    background-size: contain;
    height: 2663px;
}


@keyframes dump {
    0% {
        transform: translate3d(0, 0, 0);
    }
    50%{
        transform: translate3d(0, -5px, 0);
    }
    100%{
        transform: translate3d(0, 5px, 0);
    }

}
@-webkit-keyframes dump {
    0% {
        transform: translate3d(0, 0, 0);
    }
    50%{
        transform: translate3d(0, -5px, 0);
    }
    100%{
        transform: translate3d(0, 5px, 0);
    }

}